flows_test1.json
[{"id":"5aa020b6.706c4","type":"tab","label":"Test 1 flow","disabled":false,"info":""},{"id":"af86984c.5564a8","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"9c89048b.2a108","type":"inject","z":"5aa020b6.706c4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["ba2c0d30.1962f8"]]},{"id":"ba2c0d30.1962f8","type":"debug","z":"5aa020b6.706c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":80,"wires":[]},{"id":"3d5a1ada.67574e","type":"inject","z":"af86984c.5564a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["6af6c807.db09a"]]},{"id":"6af6c807.db09a","type":"debug","z":"af86984c.5564a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":100,"wires":[]}]